*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor-derecho{
    align-items:baseline;
    float: left;
    background-color: slategrey;
    display: grid;
    display: flexbox;
}

img{
    align-items: center;
}

#datosPer{
    float: left;
}
#CV{
    text-align: center;
    float: inline-start;
}

#formacion{
    display: grid;
}

#experiencia{
    display: grid;
}