*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#datosPersonales{
    background-color: darkkhaki;
}

#cv{
    text-align: center;
    margin: 1em auto;
}
.foto{
    text-align: left;
}

#formacion{

}

#experiencia{

}
